/*
COLORS:
grey: #6f736a
gold: #c2ad2d
maroon: #542d32
*/
.navbar {
  background-color: #FFF;
}

.navbar-brand {
  height: auto;
}

.navbar-inverse .navbar-toggle {
  border-color: #FFF;
}

.navbar-inverse .navbar-toggle .icon-bar {
  background-color: #6f736a;
}

body {
  background-color: #6f736a;
  color: #FFF;
}