/*
COLORS:
grey: #6f736a
gold: #c2ad2d
maroon: #542d32
*/
.navbar {
  background-color: #FFF;
}

.navbar-brand {
  height: auto;
}

.navbar-toggle {
  border-color: #FFF;
}

.navbar-toggle .icon-bar {
  background-color: #6f736a;
}

.navbar-nav li a {
  color: #6f736a;
}

.navbar-nav li a:hover {
  background-color: #c2ad2d;
  border-radius: 15%;
  padding: 1rem;
  color: #FFF;
}

body {
  background-color: #6f736a;
  color: #FFF;
}